@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root{
    --corhf: #000000;
    --cornormal: #ffffff;
    --corimagem: #2e2e2e;
    --fontpassion: 'Passion One', cursive;
    --fontsriracha: 'Sriracha', cursive; 
}

body{
background-color: #797979;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--corhf);
    height: 150px;
    font-family: var(--fontpassion);
}

header > h1{
    color: #ffffff;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;

}

header > p{
    color: #ffffff;
}

header a, footer a{
    color: rgb(160, 155, 149);
}

header a:hover, footer a:hover{
    text-decoration: underline;
    color: rgb(130, 128, 255);
}

main{
    display: flex;
    flex-direction: column;
    font-family: var(--fontsriracha);
    font-size: 30px;
}

section.normal, section.imagem{
    padding: 25px;
}

section.normal{
    background-color: var(--cornormal);
    color: #000000;
    height: 400px;
    display: flex;
    align-items: center;
}

.normal > p{
    padding: 25px;
}

section.imagem{
    background-color: var(--corimagem);
    color: #ffffff;
    height: 550px;
    display: flex;
    align-items: center;
    box-shadow: inset 0px 4px 10px 0px black;
}

.imagem > p{
    background-color: #000000a8;
    width: 450px;
    padding: 10px;
    margin: 15px;
}

#img01{
    background-image: url(../img/background001.jpg);
    background-position: center right;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#img02{
    background-image: url(../img/background002.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

section.felipe{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: var(--cornormal);
    color: #000000;
}

.felipe img{
    border-radius: 25%;
    padding: 25px 10px;
    transition: 0.2s ease-in-out;
}

.felipe img:hover{
    transform: scale(1.05);
}

.felipe > div{
    padding-left: 10px;
    font-family: var(--fontpassion);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
}

.felipe p{
    font-size: 20px;
    padding-top: 25px;
}

#logo-recanto{
    
    border-radius: 80px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    background-color: #000000;
    text-align: center;
    color: #ffffff;
    font-family: var(--fontpassion);
}

@media (max-width: 480px) {
    body{
        background-color: #797979;
        width: 100vw;
        }
        
        header{
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: var(--corhf);
            height: 150px;
            font-family: var(--fontpassion);
        }
        
        header > h1{
            color: #ffffff;
            font-size: 30px;
            text-transform: uppercase;
            text-align: center;
        
        }
        
        header > p{
            color: #ffffff;
        }
        
        header a, footer a{
            color: rgb(160, 155, 149);
        }
        
        header a:hover, footer a:hover{
            text-decoration: underline;
            color: rgb(130, 128, 255);
        }
        
        main{
            display: flex;
            flex-direction: column;
            font-family: var(--fontsriracha);
            font-size: 30px;
        }
        
        section.normal, section.imagem{
            padding: 25px;
        }
        
        section.normal{
            background-color: var(--cornormal);
            color: #000000;
            height: 400px;
            display: flex;
            align-items: center;
        }
        
        .normal > p{
            padding: 25px;
            font-size: 20px;
        }
        
        section.imagem{
            background-color: var(--corimagem);
            color: #ffffff;
            height: 550px;

            display: flex;
            align-items: center;
            box-shadow: inset 0px 4px 10px 0px black;
        }
        
        .imagem > p{
            background-color: #000000a8;
            width: 450px;
            padding: 10px;
            margin: 15px;
            font-size: 20px;
        }
        
        #img01{
            background-image: url(../img/background001.jpg);
            background-position: center right;
            background-size: cover;
            background-attachment: fixed;
            background-repeat: no-repeat;
        }
        
        #img02{
            background-image: url(../img/background002.jpg);
            background-position: center center;
            background-size: cover;
            background-attachment: fixed;
            background-repeat: no-repeat;
        }
        
        section.felipe{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px;
            background-color: var(--cornormal);
            color: #000000;
        }
        
        .felipe img{
            width: 100px;
            border-radius: 25%;
            padding: 25px 10px;
            transition: 0.2s ease-in-out;
        }
        
        .felipe img:hover{
            transform: scale(1.05);
        }
        
        .felipe > div{
            padding-left: 10px;
            font-family: var(--fontpassion);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 5px;
        }
        
        .felipe p{
            font-size: 20px;
            padding-top: 25px;
        }
        
        #logo-recanto{
            border-radius: 80px;
        }
        
        footer{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 100%;
            background-color: #000000;
            text-align: center;
            color: #ffffff;
            font-family: var(--fontpassion);
        }
}